<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Température maison PoutsFam</title>

    <meta name="description" content="affichage des informations des thermomètres Bluetooth">
    <meta name="author" content="Stéphane Lepoutère">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap-table Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Température Pout's Fam House !
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card-columns">
			{%- for pos in range(0, 8) %}
			<div class="card text-center">
					<h5 class="card-header" style="height: 4em;">
					{{ liste_data[pos][2] }}
				</h5>
				<div class="card-body">
					<button type="button" class="btn btn-danger">
						{{ liste_data[pos][3] }}<span class="badge badge-light">°C</span>
					</button> 
					<button type="button" class="btn btn-primary">
						{{ liste_data[pos][4] }}<span class="badge badge-light">%HR</span>
					</button>
					<div class="img-battery">
						<img 
						
						src="{{ url_for('static', filename='img/battery_level_w50px.png') }}" 
						alt="batterie : {{ liste_data[pos][5] }} %"
						title="batterie : {{ liste_data[pos][5] }} %"
						class="card-img-top {%- if liste_data[pos][5] > 80 %} battery_100pc
											   {%- elif liste_data[pos][5] > 60 %} battery_80pc
											{%- elif liste_data[pos][5] > 40 %} battery_60pc
											{%- elif liste_data[pos][5] > 20 %} battery_40pc
											{%- else %} battery_20pc {%- endif %}"
						/>
					</div>
				</div>
				<div class="card-footer">
					{{ liste_data[pos][1] }} 
				</div>
			</div>
			{%- endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Product
						</th>
						<th>
							Payment Taken
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="table-active">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="table-success">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="table-danger">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		{%- for message in get_flashed_messages() %}
			{{ message }}
	    {%- endfor %}
		<div class="col-md-6">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Product
						</th>
						<th>
							Payment Taken
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="table-active">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="table-success">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="table-danger">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sm" 
					data-toggle="table"
					data-filter-control="true"
					data-show-search-clear-button="true"
					 >
				<thead>
					<tr>						
						<th>
							#
						</th>
						<th>
							date
						</th>
						<th data-field="localisation" data-filter-control="select">
							pièce
						</th>
						<th>
							température
						</th>
						<th>
							hygrométrie
						</th>
						<th>
							batterie
						</th>
					</tr>
				</thead>
				<tbody>
					{%- for line in liste_all %}
					<tr>
						{% for item in line %}
						<td>
								{{ item }}
						</td>
						{%- endfor %}
					</tr>
					{%- endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

	<!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table-fr-FR.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table-filter-control.min.js') }}"></script>

	<!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

	<script>
		$(function() {
		  $('#table').bootstrapTable()
		})
	  </script>

</body>
</html>