<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Température maison PoutsFam</title>

    <meta name="description" content="affichage des informations des thermomètres Bluetooth">
    <meta name="author" content="Stéphane Lepoutère">

    <!-- fontAwesome pour les boutons Core CSS -->
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap-table Core CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

	<!-- Script pour les web sockets -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>

</head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Température Pout's Fam House !
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button onclick="json_button()">Json Message</button>
			<button onclick="alert_button()">Alert Message</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card-deck">
			{%- for pos in range(0, 8) %}
			<div class="card text-center">
					<h5 class="card-header">
					{{ liste_data[pos][2] }}
				</h5>
				<div class="card-body">
					<button type="button" class="btn btn-danger">
						{{ liste_data[pos][3] }}<span class="badge badge-light">°C</span>
					</button> 
					<button type="button" class="btn btn-primary">
						{{ liste_data[pos][4] }}<span class="badge badge-light">%HR</span>
					</button>
					<div class="img-battery">
						<img 						
						src="{{ url_for('static', filename='img/battery_level_w50px.png') }}" 
						alt="batterie : {{ liste_data[pos][5] }} %"
						title="batterie : {{ liste_data[pos][5] }} %"
						class="card-img-top rounded {%- if liste_data[pos][5] > 80 %} battery_100pc
											   		{%- elif liste_data[pos][5] > 60 %} battery_80pc
													{%- elif liste_data[pos][5] > 40 %} battery_60pc
													{%- elif liste_data[pos][5] > 20 %} battery_40pc
													{%- else %} battery_20pc {%- endif %}"
						/>
					</div>
				</div>
				<div class="card-footer">
					{{ liste_data[pos][1] }} 
				</div>
			</div>
			{%- endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sm" 
					data-toggle="table"
					data-filter-control="true"
					data-show-search-clear-button="true"
					data-toolbar=".toolbar"
					data-sortable="true"
					data-show-multi-sort="true"
					data-sort-priority='[{"sortName": "date","sortOrder":"desc"},{"sortName":"localisation","sortOrder":"desc"}]'
					data-pagination="true"
					 >
				<thead>
					<tr>						
						<th>
							#
						</th>
						<th data-field="date"
							data-sortable="true">
							date
						</th>
						<th data-field="localisation" 
							data-filter-control="select"
							data-sortable="true"
							>
							pièce
						</th>
						<th>
							température
						</th>
						<th>
							hygrométrie
						</th>
						<th>
							batterie
						</th>
					</tr>
				</thead>
				<tbody>
					{%- for line in liste_all %}
					<tr>
						{% for item in line %}
						<td>
								{{ item }}
						</td>
						{%- endfor %}
					</tr>
					{%- endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

	<!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <!-- <script src="{{ url_for('static', filename='js/jquery.tablednd.min.js') }}"></script>4 -->

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table-fr-FR.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table-filter-control.min.js') }}"></script>

	<!-- Bootstrap-table Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap-table-multiple-sort.js') }}"></script>

	<!--					data-reorderable-rows="true"-->

	<!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>